@using WebApplication.Models
@{
    ViewBag.Title = "FlowSubject";
}
<div class="row">
    <div class="col-md-6">
        @if (ViewBag.subject != null)
        {
            FlowSubject subject = ViewBag.subject;
            <div class="row">
                <div class="col-md-6">
                    <h3>Поток:</h3>
                </div>
                <div class="col-md-6">
                    @{string flowName = (Flow.GetInstanceAsync(subject.FlowId).Result)?.Name;}
                    <h4>@flowName</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Предмет:</h3>
                </div>
                <div class="col-md-6">
                    @{ string subjectName = (Subject.GetInstanceAsync(subject.SubjectId).Result)?.Name;}
                    <h4>@subjectName</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Преподаватель (лекции):</h3>
                </div>
                <div class="col-md-6">
                    @{ string teachName = (Person.GetInstanceAsync(subject.TeacherId).Result)?.ToString();}
                    <h4>@teachName</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Преподаватель (лаб. занятия):</h3>
                </div>
                <div class="col-md-6">
                    @{ string teach2Name = (Person.GetInstanceAsync(subject.Teacher2Id).Result)?.ToString();}
                    <h4>@teach2Name</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Преподаватель (практ. занятия):</h3>
                </div>
                <div class="col-md-6">
                    @{ string teach3Name = (Person.GetInstanceAsync(subject.Teacher3Id).Result)?.ToString();}
                    <h4>@teach3Name</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Семестр:</h3>
                </div>
                <div class="col-md-6">
                    @{ string semesterName = (Semester.GetInstanceAsync(subject.SemesterId).Result)?.Name;}
                    <h4>@semesterName</h4>
                </div>
            </div>
        
        <div class="row">
            <div class="col-md-6">
                <a href="/Lab/plan/@subject.ID">Лабораторные</a>
                <a href="#">Практические</a>
                <a href="#">Самостоятельные</a>
                <a href="#">Курсовые</a>
                <a href="#">Занятия</a>
                <a href="#">Зарегистрированные студенты</a>
            </div>
        </div> 
         }
    </div>
</div>
