@using WebApplication.Models
@{
    ViewBag.Title = "FlowSubject";
}
<div class="row">
    <div class="col-md-6">
        @if (ViewBag.subject != null)
        {
            FlowSubject subject = ViewBag.subject;
            <div class="row">
                <div class="col-md-6">
                    <h3>Поток:</h3>
                </div>
                <div class="col-md-6">
                    @{string flowName = (Flow.GetInstanceAsync(subject.FlowId).Result)?.Name;}
                    <h2>@flowName</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Предмет:</h3>
                </div>
                <div class="col-md-6">
                    @{ string subjectName = (Subject.GetInstanceAsync(subject.SubjectId).Result)?.Name;}
                    <h2>@subjectName</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Преподаватель (лекции):</h3>
                </div>
                <div class="col-md-6">
                    @{ string teachName = (Person.GetInstanceAsync(subject.TeacherId).Result)?.Name;}
                    <h2>@teachName</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Преподаватель (лаб. занятия):</h3>
                </div>
                <div class="col-md-6">
                    @{ string teach2Name = (Person.GetInstanceAsync(subject.Teacher2Id).Result)?.Name;}
                    <h2>@teach2Name</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Преподаватель (практ. занятия):</h3>
                </div>
                <div class="col-md-6">
                    @{ string teach3Name = (Person.GetInstanceAsync(subject.Teacher3Id).Result)?.Name;}
                    <h2>@teach3Name</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Семестр:</h3>
                </div>
                <div class="col-md-6">
                    @{ string semesterName = (Semester.GetInstanceAsync(subject.SemesterId).Result)?.Name;}
                    <h2>@semesterName</h2>
                </div>
            </div>
         }
    </div>
</div>
