@using WebApplication.Models;
@{
    ViewBag.Title = "Look";

}
<div class="row">
    <div class="col-md-5">
        @if (ViewBag.subject != null)
        {
            <p><h1>@ViewBag.subject.Name</h1></p>
            @*<p><h2>Кафедра: @ViewBag.dep.Name</h2></p>*@
            <p>@ViewBag.subject.Info</p>
            <tr>
                <td><a href="/Subject/Up/@ViewBag.subject.ID" class="btn btn-primary">Изменить</a></td>
            </tr>
        }
    </div>
    <div class="col-md-4">
        <p><h2>Поток: </h2></p>
        <table>
            <thead>
                <tr>Поток</tr>
            </thead>
            <tbody>
                @if (ViewBag.sFlows != null)
            {
                foreach (var flow in ((List<FlowSubject>)ViewBag.sFlows))
                {
                    <tr>
                        @{string flowName = (Flow.GetInstanceAsync(flow.FlowId).Result).Name;}
                        <td>@flowName</td>
                        @{ string teachName = (Person.GetInstanceAsync(flow.TeacherId).Result).Name;}
                        <td>Преподает: @teachName</td>
                        <td><a href="#" class="btn btn-link">Перейти</a></td>
                    </tr>
            }
        }
            </tbody>
        </table>
        <p><h3>Выберите поток:</h3></p>
        @using (Html.BeginForm("AddToFlow", "Subject", FormMethod.Post))
    {
        <input type="hidden" name="SubjectId" value="@ViewBag.subject.ID" />
        <input type="hidden" name="id" value="@ViewBag.subject.ID" />
        <p>
            <select name="FlowId">
                @foreach (var flow in ViewBag.flows)
            {
                <option value="@flow.ID">@flow.Name</option>
        }
            </select>
        </p>
        <p>
            <select name="TeacherId">
                @foreach (var person in ViewBag.people)
            {
                <option value="@person.ID">@person.ToString()</option>
        }
            </select>
            @* Здесь нужно будет добавить выбор еще для двух преподавателей *@
            <select name="Teacher2Id">
                @foreach (var person in ViewBag.people)
            {
                <option value="@person.ID">@person.ToString()</option>
        }
            </select>
            <select name="Teacher3Id">
                @foreach (var person in ViewBag.people)
            {
                <option value="@person.ID">@person.ToString()</option>
        }
            </select>

        </p>
        <p>
            <select name="SemesterId">
                @foreach(var sem in ViewBag.semesters)
                {
                    <option value="@sem.ID">@sem.Name</option>
                }
            </select>
        </p>
        <p><input type="submit" class="btn btn-primary" value="Добавить в поток"></p>
}
    </div>
    @*<div class="col-md-3">
            @if (ViewBag.subjects != null)
            {
                <p><h2>Предметы: </h2></p>
                foreach (var subject in ViewBag.subjects)
                {
                    <p>
                        <a href="/Subject/Subject/@subject.ID" class="btn btn-primary">@subject.Name</a>
                        <a href="/Subject/Del/@subject.ID" class="btn btn-primary btn-danger">Удалить</a>
                    </p>
                }
            }
        </div>*@
</div>
