
@{
    ViewBag.Title = "Look";
}
<div class="row">
    <div class="col-md-5">
        @if (ViewBag.group != null)
        {
        <p><h1>@ViewBag.group.Name</h1></p>
        @*<p><h2>Факультет: @ViewBag.group.FacyltyId</h2></p>*@
        @*<p><h2>Куратор: @ViewBag.group.CuratorId</h2></p>*@
        <p><h2>Описание: @ViewBag.group.Description</h2></p>
        <tr>
            <td><a href="/Group/Up/@ViewBag.group.ID" class="btn btn-primary">Изменить</a></td>
        </tr>        

}
    </div>
    <div class="col-md-4">

        @* Список семестров, для которых существует данная группа *@
        <p><h2>Семестры: </h2></p>
        <table class="table table-hover">
            <tbody>
                @foreach (var semester in ViewBag.group.Semesters)
                {
                    <tr>
                        <td>@semester.Name</td>
                        <td><a href="@string.Format("/Student/{0}/{1}", ViewBag.group.ID, semester.ID)" class="btn btn-link">Студенты</a></td>
                        <td>
                            @using (Html.BeginForm("DeleteToSemester", "Group", FormMethod.Post))
                            {
                                <input type="hidden" value="@ViewBag.group.ID" name="id" />
                                <input type="hidden" value="@semester.ID" name="semesterid" />
                                <input type="submit" class="btn btn-danger" value="Удалить" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p><h3>Добавить группу на семестр:</h3></p>
        <p>
            @using (Html.BeginForm("AddToSemester", "Group", FormMethod.Post))
            {
                <input type="hidden" name="id" value="@ViewBag.group.ID" />
                if (ViewBag.semesters != null)
                {
                    <select name="semesterid">
                    <option>Выбрать семемтр</option>
                    @foreach (var semestr in ViewBag.semesters)
                    {
                        <option value="@semestr.ID">@semestr.Name</option>
                    }
                    </select>
                    <p><input type="submit" class="btn btn-primary" value="Добавить в семестр"></p>
                }
            }
        </p>
    </div>
</div>
