
@{
    ViewBag.Title = "Up";
}

@using (Html.BeginForm("Up", "Group", FormMethod.Post))
{
    <label for="Name">Название</label>
    <input type="text" class="form-control" id="Name" name="Name" aria-describedby="name" placeholder="Введите название"
           value="@ViewBag.group.Name" />
    <label for="Description">Описание</label>
    <input type="text" class="form-control" id="Description" name="Description" aria-describedby="Description" placeholder="Введите описание"
           value="@ViewBag.group.Description" />
    @*<label for="FacultyId">Факультет</label>
    <input type="text" class="form-control" id="FacultyId" name="FacultyId" aria-describedby="Faculty" placeholder="Введите факультет"
           value="@ViewBag.faculty.Name" />
    <label for="CuratorId">Куратор</label>
    <input type="text" class="form-control" id="CuratorId" name="CuratorId" aria-describedby="Curator" placeholder="Введите куратора"
           value="@ViewBag.group.CuratorId" />*@
    <input type="hidden" value="@ViewBag.group.ID" />
    <input type="submit" class="btn btn-submit" value="Изменить" />
}