<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Электронный журнал</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: floralwhite;
        }
        a {
            cursor:pointer;
        }               
    </style>
</head>
<body>
    <div class="navbar-inverse navbar-fixed-top col-lg-12 col-xs-12">
        <div class="container">
            <div class="row">
                @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Факультеты", "Index", "Faculty")</li>
                    <li>@Html.ActionLink("Кафедры", "Index", "Department")</li>
                    <li>@Html.ActionLink("Семестры", "Index", "Semester")</li>
                    @*<li>@Html.ActionLink("Успеваемость", "Index", "Home")</li>*@
                </ul>
                @if (@*Request.IsAuthenticated*@false)
{
@*using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
@Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Здравствуйте!"@*, " + User.Identity.GetUserName() + ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
</ul>
}
}
else
{*@
<div class="col-md-12 col-xs-12">
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Регистрация", "Register", "Account")</li>*@
        <li><a data-toggle="modal" data-target="#exampleModal">Регистрация &raquo;</a></li>
        <li><a data-toggle="modal" data-target="#exampleModal1">Вход &dArr;</a></li>
    </ul>
</div>
}
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-10">
                @RenderBody()
            </div>
            <div class="col-md-2">
                <div class="row">Уведомление 1</div>
                <div class="row">Уведомление 2</div>
            </div>
        </div>

        <hr />
        <footer>
            <p><a href="/Person/Index" class="btn btn-toolbar">Пользователи</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="exampleModalLabel">Регистрация</h3>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="exampleInput">Номер зачётки или паспорта, ключевое слово</label>
                            <input type="text" name="number" class="form-control" id="exampleInput" aria-describedby="name" placeholder="Введите номер">
                            @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword">Пароль</label>
                            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword">Подтвердите пароль</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        @*<div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>*@
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="exampleModal1Label">Авторизация</h3>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInput">Номер зачётки или паспорта, ключевое слово</label>
                            <input type="text" class="form-control" id="exampleInput" aria-describedby="name" placeholder="Введите номер">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword">Пароль</label>
                            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
