
@{
    ViewBag.Title = "Kaf";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Факультеты</title>
</head>
<body>
    <table class="table table-hover">
        <thead>
        <th>Полное название кафедры</th>
        <th>Сокращённое название</th>
        <th>Действие</th>        
        </thead>
        <tr>
            <td><p>Программное Обеспечение Компьютерных Систем</p></td>
            <td><p>ПОКС</p></td>
            <td><p><a href="#"class="btn btn-primary btn-block">Изменить</a></p></td>
        </tr>
        <tr>
            <td><p>Кафедра</p></td>
            <td><p>Каф</p></td>
            <td><p><a href="#"class="btn btn-primary btn-block">Изменить</a></p></td>
        </tr>
        }
    </table>
    @*<table class="table table-hover">
                <thead>
                <th>ID</th>
                <th>Название товара</th>
                <th>Цена</th>
                <th>Категория</th>
                <th>Оплата рабочей группе</th>
                </thead>
                @foreach (var b in ViewBag.Products)
            {
                <tr>
                    <td><p>@b.ID</p></td>
                    <td><p>@b.name</p></td>
                    <td><p>@b.price</p></td>
                    <td><p>@b.category</p></td>
                    <td><p>@b.salary</p></td>
                    <td><p><a href="/Home/DeleteProduct/@b.ID">удалить</a></p></td>
                    <td>
                        <p>
                            @using (Html.BeginForm("EditProduct", "Home", FormMethod.Get))
                        {
                            <input type="hidden" value="@b.ID" name="ID" />
                            <input type="hidden" value="@b.name" name="name" />
                            <input type="hidden" value="@b.price" name="price" />
                            <input type="hidden" value="@b.categoryID" name="categoryID" />
                            <input type="hidden" value="@b.salary" name="salary" />
                            <input type="submit" value="изменить" class="active" />
                    }
                        </p>
                    </td>
                </tr>
        }
            </table>*@
</body>
</html>

